fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pandas
scikit-learn
skl2onnx
onnx
onnxruntime
torch==2.2.0+cpu
torchvision==0.17.0+cpu
Pillow
transformers
ultralytics
pyyaml
numpy